version: '3'

services:
    nginx:
        image: vitaliyvar/ubnt2004:v2.0
        ports:
            - '8080:8080'
        volumes:
            - ./nginx:/etc/nginx/conf.d
            - ./logs/nginx:/var/log/nginx
        restart: always
        networks:
          static-network:
            ipv4_address: 172.20.0.2

    mysql:
        image: vitaliyvar/ubnt2004:v2.0
        ports:
          - '3306:3306'
        restart: always
        networks:
          static-network:
            ipv4_address: 172.20.0.3

    wordpress:
        image: vitaliyvar/ubnt2004:v2.0
        ports:
          - '9000:9000'
        depends_on:
          - mysql  
        networks:
          static-network:
            ipv4_address: 172.20.0.4
volumes:
  nginx:
  logs:

networks:
  static-network:
    ipam:
      config:
        - subnet: 172.20.0.0/16